.cadastro-login {
    height: 917px;
    display: flex;
    flex-direction: column;
    
    background-image: url(../img/Forma2rotacionada.svg);
    background-position: left 0 top 368px;
    background-repeat: no-repeat;
}

.cadastro-login__principal {
    margin-bottom: auto;
    padding: 9.75rem 1.5rem 0 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.cadastro-login__descricao {
    color: var(--cor-primaria);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.cadastro-login__descricao--login {
    height: 4.5rem;
    justify-content: center;
}
.cadastro-login__formulario {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}
.cadastro-login__linkRecuperarSenha {
    font-size: 12px;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}